// colors
$blue: #2E5F88;
$pink: #CC4452;
$grey: #7F7F7F;
$light-grey: #F4F4F4;

// usage
$accent-color: $blue;
$nav-hover-link-color: $pink;
$conclusion-bg-color: $grey;
$main-reasons-bg-color: $blue;
$button-bg-color: $pink;