.footer{
    background-color: $blue;

    &__sub{
        &__wrappper{
            padding: 1em 0;
        }

        &__logo{
            background-color: #fff;
            width: 7em;
            height: 8em;
            display: flex;
            justify-content: center;
            align-items: center;

            a{
                display: block;
                // padding: 4em;  
                width: 5em;
                height: 6em; 
                background-image: url('../img/footerlogo.svg');
                background-position: center center;
                background-repeat: no-repeat;            
            }
        }

        &__text{
            max-width: 20em;
            margin-left: 1.5em;

            color: #fff;
            line-height: 20px;
            font-size: 18px;
        }

        &__tel{
            max-width: 12em;
            text-align: right;  
        }

        &__right{
            color: #fff;
            line-height: 20px;
            font-size: 18px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}