.our-work{
    background-color: #F2F2F2;

    &__wrapper{
        padding: 10vh 0;
    }

    &__title{
        text-align: center;
        margin-bottom: 6vh;
        
        h2{
            color: $blue;
            font-size: 48px;
        
            span{
                font-weight: 700;
            }
        }
    }

    &__item{
        background-color: #fff;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__wrapper{
            padding: 4.5vh 2vh;
        }

        &__img{
            margin: 0 auto 0.7em auto;
            width: 9vh;
            height: 9vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $blue;
            border: 3px solid #678FC4;
            border-radius: 50%;
            transition: 0.3s;

            i{
                color: #fff;
            }

            &:hover{
                cursor: pointer;
                transition: 0.3s;
                background-color: #C0272D;
            }
        }

        &__text{
            line-height: 16px;
        }

        &:not(:last-child){
            margin-right: 0.5em;
        }
    }
}