@import 'components/top-subnav-desktop';
@import 'components/top-nav-desktop';

.top-menu-desktop{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

    z-index: 1030;

	padding: 0.6em 0.9em 0 0.9em; 
    margin: 0 auto;

	display: flex;
	align-items: center;
	justify-content: space-around;

	&__left{
		width: 8%;
		height: 5.4em;
		position: relative;
		background-color: #fff;
		display: flex;
		justify-content: center;
			
		img{
			position: relative;
			width: 58px;
			height: 73px;
			z-index: 100;
		}
	}

	&__right{
		width: 92%;
	}
}